.container {
  margin-top: 128px;
}

.container {
  font-size: 16px;
  line-height: 24px;
}

.container > * + * {
  margin-top: 16px;
}

.container h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  padding-top: 24px;
}

.container h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  padding-top: 24px;
}

.container code {
  display: inline-block;
  background-color: rgb(40, 42, 54);
  color: rgb(248, 248, 242);
  border-radius: 4px;
  padding: 0 8px;
}

.container ul {
  list-style: outside;
  list-style-type: disc;
  padding-left: 24px;
}

.header {
  margin-bottom: 48px;
}

.draft {
  position: relative;
  margin-top: 16px;
}

.title {
  position: relative;
  font-size: 48px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 16px;
}

.date {
  font-style: italic;
  color: #999;
}

.image {
  position: relative;
  width: 100%;
  height: 500px;
}