.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 10%;
  margin: 128px 0;
}

.navigation {
  display: flex;
  font-style: italic;
}

.left,
.right {
  width: 50%;
}

.right {
  text-align: right;
}
